Repository BinaryStudioAcademy/bsa-2021-jabber: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:shared:js, npm run lint:backend:js, npm run lint:frontend:css, npm run lint:frontend:js

development: * move actions
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: none

development: * lint action
  .github/workflows/lint.yml
Due: none

development: * backend packages
  backend/package.json
  backend/tsconfig.json
Due: none

development: * shared build
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

production: * deploy action
  .github/workflows/deploy.yml
Due: none

production: * build scripts
  .github/workflows/deploy.yml
  backend/package.json
  frontend/package.json
  package.json
Due: none

production: * build scripts
  package-lock.json
  package.json
Due: none

production: * build scripts
  package.json
Due: none

production: * build scripts
  backend/package.json
  frontend/package.json
Due: none

production: * build scripts
  backend/package.json
  package.json
Due: none

production: * build scripts
  backend/src/common/enums/app/env.enum.ts
Due: none

production: * build scripts
  .gitignore
  .lintstagedrc.yml
  backend/package-lock.json
  backend/src/server.ts
  frontend/package-lock.json
Due: none

production: * githooks
  package-lock.json
  package.json
Due: none

production: * deploy message
  .github/workflows/deploy.yml
Due: none

production: - useless code
  backend/src/server.ts
Due: none

development: * lint stage scripts
  .lintstagedrc.yml
Due: none

development: + js lint
  .lintstagedrc.yml
  .ls-lint.yml
  package-lock.json
  package.json
Due: none

Remove auto-start for browser
  frontend/package.json
Due: none

development: * root readme
  readme.md
Due: none

J-6:+ quality criteria to readme
  readme.md
Due: none

J-6: * lint script
  package.json
Due: none

J2: Added users table by migration
  backend/package.json
  backend/src/data/migrations/20210726161142_MVP_addUsersTable.ts
  frontend/package.json
Due: none

J-2: + shared deps
  shared/package-lock.json
  shared/package.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/auth-api-path.enum.ts
  shared/src/common/enums/api/users-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/http/http-method.enum.ts
  shared/src/common/enums/user/user-create-payload-key.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-create-payload.type.ts
  shared/src/common/types/user/user.ts
  shared/src/common/types/user/user.type.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/helpers.ts
Due: none

J-2: * root configs
  .eslintrc.yml
  .lintstagedrc.yml
Due: none

J-2: * frontend deps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/data-status.enum.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/ui/button-type.enum.ts
  frontend/src/common/enums/ui/input-type.enum.ts
  frontend/src/common/enums/ui/ui.ts
  frontend/src/common/enums/user/user.ts
  frontend/src/common/types/app/app-dispatch.type.ts
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/app/async-thunk-config.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/common.ts
  frontend/src/components/common/input/input.tsx
  frontend/src/components/sign-up/common/constants.ts
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/hooks/app-selector/app-selector.hook.ts
  frontend/src/hooks/hooks.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Due: npm run lint:frontend:js

J-2: * backend deps
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/api/user/user.api.ts
  backend/src/api/users/users.api.ts
  backend/src/common/enums/api/api-path.enum.ts
  backend/src/common/enums/api/api.ts
  backend/src/common/enums/api/users-api-path.enum.ts
  backend/src/common/enums/db/abstract-dto-key.enum.ts
  backend/src/common/enums/db/db.ts
  backend/src/common/enums/db/table-name.enum.ts
  backend/src/common/enums/db/user-dto-key.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user.ts
  backend/src/data/migrations/.gitkeep
  backend/src/data/migrations/20210726161142_MVP_addUsersTable.ts
  backend/src/data/migrations/20210726161142_add_users_table.ts
  backend/src/data/models/.gitkeep
  backend/src/data/models/abstract/abstract.model.ts
  backend/src/data/models/models.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/.gitkeep
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/helpers/api/api.ts
  backend/src/helpers/date/date.ts
  backend/src/helpers/helpers.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
Due: none

J-10: + class modifier
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/logger/logger.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:frontend:js

development: - env var from react-app while start
  frontend/package.json
Due: none

J-10: * http class hethods modifiers
  frontend/src/services/http/http.service.ts
Due: npm run lint:frontend:js

Remove redux-toolkit boilerplate clutter
  frontend/src/assets/img/logo.svg
  frontend/src/components/app/app.tsx
  frontend/src/components/counter/counter.tsx
  frontend/src/components/counter/styles.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/counter/actions.ts
  frontend/src/store/counter/common.ts
  frontend/src/store/counter/reducer.ts
  frontend/src/store/root-reducer.ts
Due: npm run lint:frontend:css, npm run lint:frontend:js

Add the .idea folder to the .gitignore file
  .gitignore
Due: none

J-12: + react-hook-form and joi
  frontend/package-lock.json
  frontend/package.json
  shared/package-lock.json
  shared/package.json
Due: none

J-12: * joi version
  shared/package.json
Due: none

J-17: + toaster component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/ui/toast-position.enum.ts
  frontend/src/common/enums/ui/ui.ts
  frontend/src/components/app/app.tsx
  frontend/src/index.tsx
Due: npm run lint:frontend:js

J-16: + them main colors
  frontend/src/assets/css/variables.scss
Due: npm run lint:frontend:css

J-16: + them main colors
  frontend/src/assets/css/styles.scss
Due: npm run lint:frontend:css

J-16: + import variables to styles.scss
  frontend/src/assets/css/variables.scss
Due: npm run lint:frontend:css

J-10: * private class modifier
  backend/src/services/logger/logger.service.ts
  frontend/src/services/http/http.service.ts
Due: npm run lint:frontend:js

Path conditions:
  npm run lint:editorconfig: any of: *,!build
  npm run lint:shared:js: any of: shared/**/*.{ts}
  npm run lint:backend:js: any of: backend/**/*.{ts}
  npm run lint:frontend:css: any of: frontend/**/*.scss
  npm run lint:frontend:js: any of: frontend/**/*.{ts,tsx}
